# Server
PORT=3000

# MQTT Broker (Mosquitto)
MQTT_BROKER_URL=mqtts://broker.hivemq.com:8883
MQTT_USERNAME=your_mqtt_user
MQTT_PASSWORD=your_mqtt_password
MQTT_CLIENT_ID=envsense_backend_01

# InfluxDB
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=your_influx_token_here
INFLUX_ORG=envsense
INFLUX_BUCKET=telemetry

# JWT Auth
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=24h